<div data-plugin-style-id="s3-artifact-plugin">
    <style>
        [data-plugin-style-id="s3-artifact-plugin"] .form-help-content {
            color:         #666;
            clear:         both;
            font-size:     0.82rem;
            font-style:    italic;
            margin-top:    -15px;
            padding-left:  2px;
            margin-bottom: 10px;
        }
    </style>

    <div class="form_item_block">
        <label ng-class="{'is-invalid-label': GOINPUTNAME[S3Bucket].$error.server}">S3 Bucket:<span class='asterix'>*</span></label>
        <input ng-class="{'is-invalid-input': GOINPUTNAME[S3Bucket].$error.server}" type="text" ng-model="S3Bucket" ng-required="true"/>
        <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[S3Bucket].$error.server}" ng-show="GOINPUTNAME[S3Bucket].$error.server">{{GOINPUTNAME[S3Bucket].$error.server}}</span>
    </div>

    <div class="form_item_block">
        <label ng-class="{'is-invalid-label': GOINPUTNAME[Region].$error.server}">Other Region:<span class='asterix' ng-show="{GOINPUTNAME[Region] == 'other'}">*</span></label>
        <input ng-class="{'is-invalid-input': GOINPUTNAME[Region].$error.server}" type="text" ng-model="Region" ng-required="{GOINPUTNAME[Region] == 'other'}" ng-disabled="{GOINPUTNAME[Region] == 'other'}"/>
        <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[Region].$error.server}" ng-show="GOINPUTNAME[Region].$error.server">{{GOINPUTNAME[Region].$error.server}}</span>
    </div>

    <div class="form_item_block">
        <label ng-class="{'is-invalid-label': GOINPUTNAME[AWSAccessKey].$error.server}">AWS Access Key Id:</label>
        <input ng-class="{'is-invalid-input': GOINPUTNAME[AWSAccessKey].$error.server}" type="text" ng-model="AWSAccessKey" ng-required="false"/>
        <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[AWSAccessKey].$error.server}" ng-show="GOINPUTNAME[AWSAccessKey].$error.server">{{GOINPUTNAME[AWSAccessKey].$error.server}}</span>
    </div>

    <div class="form_item_block">
        <label ng-class="{'is-invalid-label': GOINPUTNAME[AWSSecretAccessKey].$error.server}">AWS Secret Access Key:</label>
        <input ng-class="{'is-invalid-input': GOINPUTNAME[AWSSecretAccessKey].$error.server}" type="password" ng-model="AWSSecretAccessKey" ng-required="false"/>
        <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[AWSSecretAccessKey].$error.server}" ng-show="GOINPUTNAME[AWSSecretAccessKey].$error.server">{{GOINPUTNAME[AWSSecretAccessKey].$error.server}}</span>
    </div>

    <div class="form_item_block">
        <label ng-class="{'is-invalid-label': GOINPUTNAME[EndpointURL].$error.server}">Endpoint URL:</label>
        <input ng-class="{'is-invalid-input': GOINPUTNAME[EndpointURL].$error.server}" type="text" ng-model="EndpointURL" ng-required="false"/>
        <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[EndpointURL].$error.server}" ng-show="GOINPUTNAME[EndpointURL].$error.server">{{GOINPUTNAME[EndpointURL].$error.server}}</span>
        <label class="form-help-content">
            Optionally specify the API URL for S3-compatible services such as Minio, B2, Ceph, etc. If blank, this will use the endpoint default for the selected region.
        </label>
    </div>

    <div class="form_item_block">
        <label ng-class="{'is-invalid-label': GOINPUTNAME[PathStyleAccess].$error.server}">Use Path-style requests?</label>
        <input ng-class="{'is-invalid-input': GOINPUTNAME[PathStyleAccess].$error.server}" type="checkbox" ng-model="PathStyleAccess"/>
        <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[PathStyleAccess].$error.server}" ng-show="GOINPUTNAME[PathStyleAccess].$error.server">{{GOINPUTNAME[PathStyleAccess].$error.server}}</span>
        <label class="form-help-content">
            Check to use <a rel="noreferrer" href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/VirtualHosting.html#path-style-access">Path-style requests</a> when accessing your bucket.
        </label>
    </div>
</div>