<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[GCSBucket].$error.server}">GCS Bucket:<span class='asterix'>*</span></label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[GCSBucket].$error.server}" type="text" ng-model="GCSBucket" ng-required="true"/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[GCSBucket].$error.server}" ng-show="GOINPUTNAME[GCSBucket].$error.server">{{GOINPUTNAME[GCSBucket].$error.server}}</span>
</div>

<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[ProjectID].$error.server}">GCP Project ID:</label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[ProjectID].$error.server}" type="text" ng-model="ProjectID" ng-required="false"/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[ProjectID].$error.server}" ng-show="GOINPUTNAME[ProjectID].$error.server">{{GOINPUTNAME[ProjectID].$error.server}}</span>
</div>
