<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[SubPath].$error.server}">SubPath:</label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[SubPath].$error.server}" type="text" ng-model="SubPath" placeholder=""/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[SubPath].$error.server}" ng-show="GOINPUTNAME[SubPath].$error.server">{{GOINPUTNAME[SubPath].$error.server}}</span>
</div>

<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[Destination].$error.server}">Destination:</label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[Destination].$error.server}" type="text" ng-model="Destination" placeholder=""/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[Destination].$error.server}" ng-show="GOINPUTNAME[Destination].$error.server">{{GOINPUTNAME[Destination].$error.server}}</span>
</div>

<div class="form_item_block">
    <input id="IsFile" ng-class="{'is-invalid-input': GOINPUTNAME[IsFile].$error.server}" type="checkbox"
           value="{{IsFile}}" ng-model="IsFile" ng-true-value="true" ng-false-value="false"/>
    <label for="IsFile" ng-class="{'is-invalid-label': GOINPUTNAME[IsFile].$error.server}">Source is a single file</label>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[IsFile].$error.server}" ng-show="GOINPUTNAME[IsFile].$error.server">{{GOINPUTNAME[IsFile].$error.server}}</span>
</div>